@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    font-family: mohave;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-right {
    padding-top: 2%;
    text-align: right;
    font-size: 150%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #070707;
    text-decoration: none;
    transition: transform .5s;
    /* Animation */
}

a:hover {
    color: #899094;
    transform: scale(1.5);
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #948f8f;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid rgb(255, 255, 255);
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

/* Navigation Bar */

.logo {
    width: 10%;
    float: left;
    transition: transform .5s;
    /* Animation */
}

.logo:hover {
    transform: scale(1.1);
    /* (110% zoom - This is when you put your cursor over the logo) */
}

.menu {
    line-height: 60px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* Food Search Section */

.food-search {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    animation-name: scale-in;
    animation-duration: .9s;
}

@keyframes scale-in {
    0% {
        font-size: 0%;
    }

    100% {
        font-size: 100%;
    }
}

.food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.social-networks {
    text-align: center;
}

.social-networks i:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 0%;
    padding: 5%;
    color: #ffffff;
    transition: transform .5s;
    /* Animation */
}

.categories {
    padding: 4% 0;
    background-color: #e6e4e4;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
    transition: transform .6s; /* Animation */
}

.box-3:hover {
    transform: scale(.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}